[submodule "external/android-audio-plugin-framework"]
	path = external/android-audio-plugin-framework
	url = https://github.com/atsushieno/android-audio-plugin-framework.git
[submodule "aap-juce"]
	path = external/aap-juce
	url = https://github.com/atsushieno/aap-juce.git
[submodule "external/odin2"]
	path = external/odin2
	url = https://github.com/TheWaveWarden/odin2.git
